# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Virtual env
.venv/
.env/

# Build artifacts
build/
dist/
*.spec

# Caches
.mypy_cache/
.pytest_cache/
.coverage*

# macOS
.DS_Store

# Local app data
arcastone.egg-info/
data/


